.navbar {
    float: right;
    margin: 0 5%;
}

@media only screen and (min-width: 1000px) {
    .navbar {
        background: #323232;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 3px 4px #222222,
        0px 6px 5px #222222;
        padding: 15px;
    }
}

.hamburgerMenu  {
    height: 136px;
    display: flex;
    align-items: center;
}


    
