@font-face {
  font-family: 'Monoid';
  src: url(fonts/Monoid-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
  color: #E5E5E5;
  font-size: 14pt;
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

hr {
  border: 1px solid #4a167a
}

.navbar {
  float: right;
  margin: 0 5%;
}

/* .collapse {
  background: #323232;
  border-radius: 5px;
  margin-bottom: 10px;
} */

@media only screen and (min-width: 992px) {
  .navbar {
      background: #323232;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 3px 4px #222222,
      0px 6px 5px #222222;
      padding: 5px;
  }
}

.hamburgerMenu  {
  height: 136px;
  display: flex;
  align-items: center;
}

.link {
  color: #EDEDED;
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.hello {
  font-family: 'Monoid';
}

.projectlink {
  margin-left: 2%;
  font-size: 12pt;
}

.projectlink {
  color: #4a167a;
  margin-left: 2%;
  font-size: 16pt;
  display: inline-block;
}

.projectlink:hover {
  color: #8b1bf5
}

.tech {
  margin: 2%;
}